@media(max-width:780px){
  .sidebar{
    display: none;
  }
  .contents{
    width:100%;
  }
}

@media(min-width:780px){
  header{
    display:none;
  }
}

@media(max-width:640px){

  .photo-wrapper img{
    width:100%;
  }

    .brand-contents{
    display:block;
    
    }
  
    .brand-items{
      width:100%;
      text-align:center;
      padding: 0 0px;
      padding-bottom: 50px;
    }

    .brand-items img{
      width:35%;
    }
    
    
.project-wrapper{
  padding-bottom:60px;
 
}

    .project-items img{
      float:none;
      padding-bottom:20px;
    }
    
    .company-contents{
      display:block;
    }


    .ggmap{
      width:100%;
      padding-bottom:90%;
      margin:0 auto;
    }

    .company-contents{
      padding-bottom:300px;
    }

    .company-adress{
      padding-bottom: 40px;
    }

    
footer{
  width:100%;
 
}


}